@model IEnumerable<Writely.Models.PrijavaKorisnika>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Naziv)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Sadržaj)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Pošiljalac)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StatusId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DatumPrijave)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PrijavaId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.KorisnikId)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Naziv)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Sadržaj)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Pošiljalac.ImePrezime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StatusId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DatumPrijave)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PrijavaId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.KorisnikId)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
