@model Writely.Models.Korisnik

@{
    ViewData["Title"] = "Details";
}

<style>
    body {
            background-image: url(https://images.pexels.com/photos/3747490/pexels-photo-3747490.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940);
            background-repeat: no-repeat;
            background-attachment: fixed;
            font-family: Perpetua;
        }
</style>

<h1>Details</h1>

<div>
    <h4>Korisnik</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ImePrezime)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ImePrezime)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DatumRegistracije)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DatumRegistracije)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DodijeljeneTitule)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DodijeljeneTitule)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.WritelyMoto)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.WritelyMoto)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
