@model Writely.Models.Rad

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Rad</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Naziv)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Naziv)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Autor)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Autor.ImePrezime)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ŽanrId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ŽanrId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.KategorijaId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.KategorijaId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Sadržaj)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Sadržaj)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DatumObjave)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DatumObjave)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.tagovi)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.tagovi)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PrijavljenoTakmičenje)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PrijavljenoTakmičenje.DozvoljeneKategorije)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
